{% extends 'dashboard/base.html' %}

{% block content %}
<div class="main-content">
    <div class="page-header d-flex justify-content-between">
        <div>
        <h2 class="header-title">SHOP</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                    <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Dashboard</a>
                    <a class="breadcrumb-item" href="#">Maxsulotlar</a>
                    <span class="breadcrumb-item active">Maxsulot</span>
                </nav>
            </div>
        </div>
     
    </div>
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="d-flex justify-content-around" >
                    <h2 class="font-weight-normal m-b-10">{{queryset.category.name}}</h2>
                    <h2 class="font-weight-normal m-b-10">{{queryset.name}}</h2>

                  
                </div>
                <img alt="" class="img-fluid w-30" src="{{queryset.banner_img.url}}" >
                <div class="m-t-30">
                    <p>{{queryset.body}}</p>
                </div>
                <div class="d-md-flex m-t-30 align-items-center justify-content-between">
                    <div class="m-t-10">
                        <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Qoldiq: </span>
                        <span>{{queryset.quantity}}</span>
                    </div>
                </div>
                <div class="d-md-flex m-t-30 align-items-center justify-content-between">
                    <div class="m-t-10">
                        <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Narx: </span>
                        {% if queryset.discount_price %}
                        <span><s>{{queryset.price}}</s></span>
                        {% else %}
                        <span>{{queryset.price}}</span>
                        {% endif %}
                     
                    </div>
                    <div class="m-t-10">
                        <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Chegirmadagi narx: </span>
                        {% if queryset.discount_price %}
                        <span>{{queryset.discount_price}}</span>
                        {% else %}
                        <button class="btn btn-primary" >Mavjud emas</button>
                        {% endif %}
                    </div>
                    <div class="m-t-10">
                        <span class="font-weight-semibold m-r-10 m-b-5 text-dark">Yetkazib berish: </span>
                        {% if queryset.delivery %}
                        <button class="btn btn-primary" >Mavjud</button>
                        {% else %}
                        <button class="btn btn-danger" >Mavjud emas</button>
                        {% endif %}
                    </div>
                </div>
                <hr>
               <div class="m-t-30">
                    <nav>
                        <ul class="pagination justify-content-end">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>           
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productModaldelete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Productni o'chirish</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <form method="get" action="{% url 'dashboard:product_delete' queryset.code %}">{% csrf_token %}
            <div class="modal-body">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                    <h5 >{{queryset.name}}</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal">Yopish</button>
                <button type="submit" class="btn btn-danger">O'chirish</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}