{% extends 'front/base.html' %}
{% block content  %}
{% load static %}
        <!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="breadcrumb-area breadcrumb-height" data-bg-image="{% static 'front/assets/images/breadcrumb/bg/1-1-1919x388.jpg' %}">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item">
                                <h2 class="breadcrumb-heading">Maxsulotlar</h2>
                                <ul>
                                    <li>
                                        <a href="{% url 'front:index' %}">Asosiy</a>
                                    </li>
                                    <li>Kategorya maxsulotlari</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-topbar">
                                <ul>
                                    <li class="page-count">
                                        <span>{{products|length}}</span> ta maxsulot topildi<span></span>
                                    </li>
                                    <li class="product-view-wrap">
                                        <ul class="nav" role="tablist">
                                            <li class="grid-view" role="presentation">
                                                <a class="active" id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                                    <i class="fa fa-th"></i>
                                                </a>
                                            </li>
                                            <li class="list-view" role="presentation">
                                                <a id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="true">
                                                    <i class="fa fa-th-list"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                        
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                                    <div class="product-grid-view row g-y-20">
                                        {% for product in products %}
                                        <div class="col-lg-3 col-md-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <a href="{% url 'front:product_detail' product.code %}">
                                                        <img class="primary-img" src="{{product.banner_img.url}}" alt="Product Images">
                                                        <img class="secondary-img" src="{{product.banner_img.url}}" alt="Product Images">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                {% if product.is_wishlisted %}
                                                                <a href="{% url 'front:wishlist_delete' product.code %}" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                                {% else %}
                                                                <a href="{% url 'front:wishlist_add' product.code %}" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                                {% endif %}
                                                            </li>
                                                            <li >
                                                                <a href="{% url 'front:product_detail' product.code %}" data-tippy="Quickview" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="pe-7s-look"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{% url 'front:add_cart_product' product.code %}" data-tippy="Add to cart" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="{% url 'front:product_detail' product.code %}">{{product.name}}</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">{{product.price}}</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                                    <div class="product-list-view row g-y-30">
                                        {% for product in products %}
                                        <div class="col-12">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <a href="{% url 'front:product_detail' product.code %}">
                                                        <img class="primary-img" src="{{product.banner_img.url}}" alt="Product Images">
                                                        <img class="secondary-img" src="{{product.banner_img.url}}" alt="Product Images">
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="{% url 'front:product_detail' product.code %}">{{product.name}}</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">{{product.price}}</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <p class="short-desc mb-0">{{product.body}}
                                                    </p>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                {% if product.is_wishlisted %}
                                                                    <a href="{% url 'front:wishlist_delete' product.code %}" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                        <i class="fa fa-heart"></i>
                                                                    </a>
                                                                {% else %}
                                                                    <a href="{% url 'front:wishlist_add' product.code %}" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                        <i class="pe-7s-like"></i>
                                                                    </a>
                                                                {% endif %}
                                                                
                                                           
                                                            </li>
                                                            <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                                                <a href="#" data-tippy="Quickview" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="pe-7s-look"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="cart.html" data-tippy="Add to cart" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            {% if products.paginator.num_pages > 1 %}
                            <div class="pagination-area">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if products.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{products.previous_page_number }}" aria-label="Ortga">&laquo;</a>
                                        </li>
                                        {% endif %}
                                        
                                        {% for num in products.paginator.page_range %}
                                            {% if num == products.number %}
                                                <li class="page-item active"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                                            {% elif num > products.number|add:'-2' and num < products.number|add:'2' %}
                                            <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if products.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{products.next_page_number }}" aria-label="Keyingi">&raquo;</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->
{% endblock %}