{% extends 'front/base.html' %}
{% load static %}

{% block content %}
        <!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item">
                                <h2 class="breadcrumb-heading">Saqlanganlar</h2>
                                <ul>
                                    <li>
                                        <a href="{% url 'front:index' %}">Asosiy</a>
                                    </li>
                                    <li>Saqlangan Maxsulotlar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wishlist-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="javascript:void(0)">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="product_remove">O'chirish</th>
                                                <th class="product-thumbnail">Rasm</th>
                                                <th class="cart-product-name">Maxsulot</th>
                                                <th class="product-price">Tan Narx</th>
                                                <th class="product-stock-status">Bor yo'gligi</th>
                                                <th class="cart_btn">Savatga qo'shish</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for q in queryset %}
                                            <tr>
                                                <td class="product_remove">
                                                    <a href="{% url 'front:wishlist_delete' q.product.code %}">
                                                        <i class="pe-7s-close" data-tippy="Remove" data-tippy-inertia="true"
                                                    data-tippy-animation="shift-away" data-tippy-delay="50"
                                                    data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>
                                                    </a>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a href="{% url 'front:product_detail' q.product.code %}">
                                                        <img src="{{q.product.banner_img.url}}" style="width: 120px;" alt="Wishlist Thumbnail">
                                                    </a>
                                                </td>
                                                <td class="product-name"><a href="{% url 'front:product_detail' q.product.code %}">{{q.product.name}}</a></td>
                                                {% if q.product.dicount_price %}
                                                <td class="product-price"><span class="amount">{{q.product.discount_price}}</span></td>
                                                {% else %}
                                                <td class="product-price"><span class="amount">{{q.product.price}}</span></td>
                                                {% endif %}
                                                <td class="product-stock-status"><span class="in-stock">{{q.product.stock_status}}</span></td>
                                                <td class="cart_btn"><a href="{% url 'front:add_cart_product' q.product.code %}">add to cart</a></td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->

{% endblock content %}