{% extends 'front/base.html' %}
{% load static %}

{% block content %}
            <!-- Begin Main Content Area -->
            <main class="main-content">
                <div class="breadcrumb-area breadcrumb-height" data-bg-image="{% static 'front/images/breadcrumb/bg/1-1-1919x388.jpg' %}">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-lg-12">
                                <div class="breadcrumb-item">
                                    <h2 class="breadcrumb-heading">Buyurtmalar</h2>
                                    <ul>
                                        <li>
                                            <a href="{% url 'front:index' %}">Home</a>
                                        </li>
                                        <li>My Account</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-page-area section-space-y-axis-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                        <div class="tab-pane fade active show" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                                            <div class="myaccount-orders">
                                                <h4 class="small-title">MY ORDERS</h4>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <th>ORDER</th>
                                                                <th>DATE</th>
                                                                <th>PRICE</th>
                                                                <th>TOTAL</th>
                                                                <th>DETAIL</th>
                                                                <th>STATUS</th>
                                                            </tr>
                                                            {% for q in queryset %}
                                                                <tr>
                                                                    <td><a class="account-order-id" href="#">#{{q.code}}</a></td>
                                                                    <td>{{q.date}}</td>
                                                                    <td>{{q.price}}</td>
                                                                    <td>{{q.total}}</td>
                                                                    {% if q.status == 2  %}
                                                                    <td><a data-bs-target="#editmodal{{forloop.counter}}" data-bs-toggle="modal" class="btn btn-primary" ><span><i class="pe-7s-note"></i></span></a></td>  
                                                                    <td><a href="{% url 'front:cart' q.code %}" class="btn btn-warning " style="width: 130px;"  data-tippy="View"><span>Yo'lda</span></a></td>                                                                  
                                                                    
                                                                    
                                                                    <!-- edit Modal -->
                                                                    <div class="modal quick-view-modal fade" id="editmodal{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="quickModal" aria-hidden="true">
                                                                        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                                                                            <div class="modal-content" style="width: 430px; height: 280px;">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title" id="quickModal">Buyurtmani tasdiqlash</h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-tippy="Close" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                                    </button>
                                                                                </div>
                                                                                
                                                                                <div class="modal-body">
                                                                                    <div class="modal-wrap row">
                                                                                        <h5><span>Buyurtmachi:</span>  {{user.username}}</h5><br>
                                                                                        <h6><span style="color: rgb(0, 42, 255);">{{q.code}}</span> raqamli buyurtma</h6>
                                                                                        <br><br><br>
                                                                                        <div  style="display: flex;justify-content: space-around ;">
                                                                                         
                                                                                            <a href="{% url 'front:order_reject' q.code %}" class="btn btn-info btn-lg" id="buyurtma-qaytarish">Qaytarish</a>
                                                                                       
                                                                                            <a href="{% url 'front:order_confirm' q.code %}" class="btn btn-success btn-lg" id="buyurtma-berish">Qabul qilish</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--  edit Modal end -->




                                                                    {% elif q.status == 3 %}
                                                                    <td><a href="{% url 'front:cart' q.code %}" class="btn btn-secondary" ><span><i class="pe-7s-look"></i></span></a></td>  
                                                                    <td><a href="{% url 'front:cart' q.code %}" class="btn btn-danger" style="width: 130px;" data-tippy="View"><span>Qaytarilgan</span></a></td>                                                                  
                                                                    
                                                                    {% elif q.status == 4 %}
                                                                    <td><a data-bs-target="#reviewmodal{{forloop.counter}}" data-bs-toggle="modal" class="btn btn-info" ><span><i class="fa fa-star"></span></a></td>  
                                                                    <td><a href="{% url 'front:cart' q.code %}" class="btn btn-success" style="width: 130px; font-size: 15px;" data-tippy="View"><span>Qabul Qilingan</span></a></td>
                                                                    
                                                                    
                                                                    <!-- review Modal -->
                                                                    <div class="modal quick-view-modal fade" id="reviewmodal{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="quickModal" aria-hidden="true">
                                                                        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
                                                                            <div class="modal-content" style="width: 500px; height: 360px;">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title" id="quickModal">Buyurtmani baxolash</h5>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-tippy="Close" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                                                    </button>
                                                                                </div>
                                                                                
                                                                                <div class="modal-body">
                                                                                    <div class="modal-wrap row">
                                                                                        <form method="post" class="feedback-form" action="{% url 'front:order_review' q.code %}">{% csrf_token %}
                                                                                            <div>
                                                                                            <select name="mark" class="form-select" id="">
                                                                                                <option value="1">1 <i class="fa fa-star"></i></option>
                                                                                                <option value="2">2 <i class="fa fa-star"></i></option>
                                                                                                <option value="3">3 <i class="fa fa-star"></i></option>
                                                                                                <option value="4">4 <i class="fa fa-star"></i></option>
                                                                                                <option value="5">5 <i class="fa fa-star"></i></option>
                                                                                            </select>
                                                                                            </div>
                                                                                            <br><br><br>

                                                                                                <textarea name="message" class="form-control" placeholder="Message"></textarea>
                                                                                            
                                                                                            <div class="button-wrap pt-5">
                                                                                                <button type="submit" value="submit" class="btn  btn-pronia-primary" name="submit">Post
                                                                                                    Comment</button>
                                                                                            </div>
                                                                                        </form>
                                                                                    
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- review Modal end -->
                                                                    {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <!-- Main Content Area End Here -->
{% endblock content %}
    